a {
  text-decoration: none;
  color: #2a254b;
}
ul {
  list-style: none;
}
h1,
h2,
h3 {
  font-family: "Montserrat";
}
.wraper {
  font-family: "Open Sans", sans-serif;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
/* ============================HEADER================================================ */
.page-header {
  border-bottom: 1px solid #ebe8f4;
}
.header-content {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 44px;
  margin: 0;
  padding: 0;
}
.function-list {
  display: flex;
  gap: 16px;
}
.logo-link {
  font-weight: 400;
  font-size: 24px;
  color: #22202e;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #726e8d;
}
/* ============================MAIN================================================ */
.price-container {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}
.price-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #2a254b;
  text-align: center;
  margin-top: 80px;
}
/* ================ */

.sort-txt {
  margin: 0;
  font-size: 14px;
}
.sort-date {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sort-items {
  background-color: #fff;
  border-style: none;
  padding: 12px;
  margin-right: 30px;
}
/* ================= */
.price-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.product {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}
.product-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.btn {
  text-align: center;
}
.viev-btn {
  padding: 16px 32px;
  display: inline-block;
  background-color: #f9f9f9;
  color: #2a254b;
  margin-top: 48px;
  margin-bottom: 40px;
}

/* ===================== */
.email-section {
  /* margin-top: 40px; */
  background-image: url(../img/join-background.jpg);
  width: 50%;
  height: 521px;
  background-size: cover;
  background-repeat: no-repeat;
}

.email-block {
  position: absolute;
  right: 0px;
  width: 50%;
}
.email-title {
  margin-top: 70px;
  margin-left: 49px;
  font-weight: 400;
  font-size: 32px;
  color: #2a254b;
}
.email-txt {
  margin-top: 21px;
  margin-left: 49px;
  width: 470px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2a254b;
}
.email-form {
  width: 472px;
  margin-left: 72px;
  margin-top: 216px;
}
.form-txt {
  display: inline-block;
  padding: 16px 32px;
  background-color: #2a254b;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.email-input {
  height: 56px;
  border-style: none;
}
/* ====================FOOTER============================================================  */

.page-footer {
  background-color: #2a254b;
}
.footer-contant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
.footer-nav_bar {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  margin-right: 93px;
}
.footer-nav {
  padding: 0;
}

.footer-title {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-family: "Montserrat";
}
.footer-link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 12px;
}
.map {
  margin-top: 60px;
  margin-bottom: 57px;
  width: 642px;
  height: 195px;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
  border-top: 1px solid #4e4d93;
}
.social-list {
  display: flex;
  gap: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.copyright {
  font-weight: 400;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
}
